{% extends 'base.html'%} {% block content %}
<div class="container-fluid">
  <div class="d-flex justify-content-center">
    <h1>About</h1>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-12">
      <h6>What is D&D?</h6>
      <br />
      <p>
        D&D (Dungeons and Dragons) in the 1970s. Wargaming enthusiast Gary Gygax
        took inspiration from Tolkien, Wargames and mythology to create a
        board-game where you would move pewter adventurers through dangerous
        mazes filled with monsters and traps in search of treasure. Elements of
        roleplaying, adding personality and characters to your pewter-figurine
        grew more and more important as the franchise grew.
        <br />
        Fans of D&D like both the board-gaming with friends aspect as well as
        the creative outlet of what is essentially a form of improv-theater. In
        2020, with all the stress of social-distancing in much of the world,
        community and friendships matter a great deal in maintaining health not
        just physically but mentally as well. D&D is not just pewter and improv
        - It's an excuse for you and your friends to get together on voice-chat
        and video once a week and participate in leisure together.
      </p>
    </div>
    <div class="col-lg-4 col-md-12">
      <h6>Where can I learn to play it?</h6>
      <br />
      <p>
        Good question! D&D has been around for a very long time, so chances are
        even if you've never played it - someone in your area is running a game!
        Ask around with your friends if they'd like to try out a one-off
        adventure module (Many are available for purchase, pre-written, on sites
        such as
        <a target="_blank" href="https://www.drivethrurpg.com/">Drivethru-RPG</a
        >). If you're feeling shy, there's plenty of D&D-gaming available
        online! Sites such as
        <a target="_blank" href="https://www.roll20.net">Roll20</a>, with an
        advanced web-GUI that allows you to play the game online, on a tiled
        map, with streamlined rules that makes it easier than ever to learn.
        <br />
        The barrier to entry is not very high, so visit Roll20 and sign up to
        see if you can't find a game that suits you!
      </p>
    </div>
    <div class="col-lg-4 col-md-12">
      <h6>How can I contact the owner of this site?</h6>
      <br />
      <p>
        Press <a href="#MailMeModal" data-toggle="modal" >this link</a> and fill in the form and I'll try to get
        back to you as soon as possible.    
      </p>
    </div>
  </div>
</div>
<br>
<div class="d-flex justify-content-center">    
    <h1>Media</h1>
</div>
<div class="d-flex justify-content-center">    
    <h4> (A collection of D&D Podcasts, video-series and articles for those looking for more information)
</div>

<!-- MailMe form modal -->

<div class="modal fade" id="MailMeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Email owner:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Your email:</label>
            <input type="text" class="form-control" placeholder="Enter your email..." required>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" placeholder="Enter your message here..." required ></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger">Send message</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
