{% extends 'base.html'%} {% block content %} {% with messages =
get_flashed_messages() %} {% if messages%} {% for message in messages %}
{{message}} {% endfor%} {% endif %} {%endwith%}
<h3 class="centered">Add new character:</h3>
<br />
<div class="container-fluid" action="{{url_for('addchar')}}">
  <form class="form" method="POST">
    {{ form.hidden_tag() }} {% for field in form %} {% if
    field.widget.input_type != "hidden" %} {{field.label}} {% else%} {% endif %}
    {% if field.type == "StringField" or "TextAreaField" %} <br />
    {{field(class_='col')}}<br />
    {% elif field.type == "NumberInput" %} {{field(class_='col')}}
    <br />
    {% elif field.type == "FormField" %} {{ form.hidden_tag() }} {% for content
    in field %} {% if content.widget.input_type != "hidden" %}
    <br />
    {{content.label}}<br />
    {{content(name_='{{content.label}}', class_="col")}} {%else%} {% endif %} {%
    endfor%} {% endif %} {%endfor%}
    <br />
    <button class="btn btn-primary btn-lg" action="{url_for('addchar')}">
      Submit button
    </button>
  </form>
</div>

{%endblock %}
