{% extends 'base.html'%} {% block content %}

<div class="row">
  <p class="align-content-lg-center"><h1>Characters</h1></p>
</div>
<div  id="accordion">
  {% for entry in all_characters %} 
  <div class="card">
    <div class="card-header" id="heading-{{entry.content.Name|join}}">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-{{entry.content.Name|join}}" aria-expanded="true" aria-controls="collapse-{{entry.content.Name|join}}">
          <p class="text-left">Name: {{ entry.content.Name }} - Class: {{entry.content.CharClass}} - Made by: {{entry.Owner.display_name}}</p>
        </button>
      </h5>
    </div>

    <div id="collapse-{{entry.content.Name|join}}" class="collapse" aria-labelledby="heading-{{entry.content.Name|join}}" data-parent="#accordion">
      <div class="card-body">
        {{entry.content.CharDescription}}<br>
        <a href="{{ url_for('char_profile', char_id=entry.pk) }}">Detailed character sheet.</a>
      </div>
    </div>
  </div>
  {% endfor%}
</div>
{% endblock %}
