{% extends 'base.html'%} 
{% block content %}

{% with messages=get_flashed_messages() %}
 {% if messages%}
 <div class="alert alert-error">
  {% for message in messages %}
     {{message}}
   {% endfor%}
  </div>
  {% endif %}
{%endwith%}

<!-- Char sheet below this point, made up of responsive bootstrap elements. -->
<div class="d-flex justify-content-center">
  <h1>{{character.content.Name}}</h1>
</div>
<div class="container-fluid">
  <div class="card">
    <h5 class="card-header">Vital statistics:</h5>
    <div class="card-body">
      <h5 class="card-title">
        {{character.content.CharClass}} ({{character.content.Subclass}})
      </h5>
      <h5 class="card-title">
        {{character.content.Race}} ({{character.content.Subrace}})
      </h5>
      <p class="card-text">
        Character level:
        <span id="level">{{character.content.ClassObj.Lvl}}</span>
      </p>
      <p class="card-text" id="prof"></p>
      <p class="card-text">
        Attacks per round: {{character.content.ClassObj.AttacksPerRound}}
      </p>
    </div>
  </div>
</div>
<br />
<div class="container-fluid">
  <div class="row">
    <br />
    <div class="col-md-12 col-lg-6 h-100">
      <div class="card">
        <h5 class="card-header">Appearance:</h5>
        <div class="card-body">
          <p class="card-text">{{character.content.Appearance}}</p>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-6 h-100">
      <div class="card">
        <h5 class="card-header">Description & backstory:</h5>
        <div class="card-body">
          <p class="card-text">{{character.content.CharDescription}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<div class="d-flex justify-content-center">
  <h3>Attributes:</h3>
</div>
<br />
<div class="container-fluid">
  <div class="row">
    <div class="table-responsive">
      <!-- While many of these fields are empty on launch, charProfile.js populates them on document ready. -->
      <table class="table table-borderless table-striped col-lg-12">
        <thead>
          <tr>
            <th class="col">Attributes:</th>
            <th class="col">Strength</th>
            <th class="col">Dexterity</th>
            <th class="col">Constitution</th>
            <th class="col">Intelligence</th>
            <th class="col">Wisdom</th>
            <th class="col">Charisma</th>
          </tr>
        </thead>
        <tr>
          <th>Base value:</th>
          <th id="str" class="col base">
            {{character.content.AttributeList.strength}}
          </th>
          <th id="dex" class="col base">
            {{character.content.AttributeList.dexterity}}
          </th>
          <th id="con" class="col base">
            {{character.content.AttributeList.constitution}}
          </th>
          <th id="int" class="col base">
            {{character.content.AttributeList.intelligence}}
          </th>
          <th id="wis" class="col base">
            {{character.content.AttributeList.wisdom}}
          </th>
          <th id="cha" class="col base">
            {{character.content.AttributeList.charisma}}
          </th>
        </tr>
        <tr>
          <th>Modifier:</th>
          <th id="str-mod" class="col">
            {{character.content.AttributeList.strength}}
          </th>
          <th id="dex-mod" class="col">
            {{character.content.AttributeList.dexterity}}
          </th>
          <th id="con-mod" class="col">
            {{character.content.AttributeList.constitution}}
          </th>
          <th id="int-mod" class="col">
            {{character.content.AttributeList.intelligence}}
          </th>
          <th id="wis-mod" class="col">
            {{character.content.AttributeList.wisdom}}
          </th>
          <th id="cha-mod" class="col">
            {{character.content.AttributeList.charisma}}
          </th>
        </tr>
        <tr>
          <th>Roll:</th>
          <th id="str-die" class="col">
            <a
              data-toggle="modal"
              href="#diceRollModal"
              class="dice-roller attribute-roll str-mod"
            >
              <i class="fas fa-dice-d20"></i
            ></a>
          </th>
          <th id="dex-die" class="col">
            <a
              data-toggle="modal"
              href="#diceRollModal"
              class="dice-roller attribute-roll dex-mod"
            >
              <i class="fas fa-dice-d20"></i
            ></a>
          </th>
          <th id="con-die" class="col">
            <a
              data-toggle="modal"
              href="#diceRollModal"
              class="dice-roller attribute-roll con-mod con-mod"
            >
              <i class="fas fa-dice-d20"></i
            ></a>
          </th>
          <th id="int-die" class="col">
            <a
              data-toggle="modal"
              href="#diceRollModal"
              class="dice-roller attribute-roll int-mod"
            >
              <i class="fas fa-dice-d20"></i
            ></a>
          </th>
          <th id="wis-die" class="col">
            <a
              data-toggle="modal"
              href="#diceRollModal"
              class="dice-roller attribute-roll wis-mod"
            >
              <i class="fas fa-dice-d20"></i
            ></a>
          </th>
          <th id="cha-die" class="col">
            <a
              data-toggle="modal"
              href="#diceRollModal"
              class="dice-roller attribute-roll cha-mod"
            >
              <i class="fas fa-dice-d20"></i
            ></a>
          </th>
        </tr>
      </table>
    </div>
  </div>
</div>
<br />
<div class="d-flex justify-content-center">
  <h3>Saving Throws:</h3>
</div>
<br />
<div class="container-fluid">
  <div class="row">
    <div class="table-responsive">
      <table class="table table-borderless table-striped col-lg-12">
        <thead>
          <tr>
            <th class="col">Saving throws:</th>
            <th class="col">Strength</th>
            <th class="col">Dexterity</th>
            <th class="col">Constitution</th>
            <th class="col">Intelligence</th>
            <th class="col">Wisdom</th>
            <th class="col">Charisma</th>
          </tr>
        </thead>
        <tr id="prof-row">
          <th>Proficient:</th>
          <th
            id="str-prof"
            class="col saving-throw {{character.content.SavesList.StrSave}}"
          ></th>
          <th
            id="dex-prof"
            class="col saving-throw {{character.content.SavesList.DexSave}}"
          ></th>
          <th
            id="con-prof"
            class="col saving-throw {{character.content.SavesList.ConSave}}"
          ></th>
          <th
            id="int-prof"
            class="col saving-throw {{character.content.SavesList.IntSave}}"
          ></th>
          <th
            id="wis-prof"
            class="col saving-throw
    {{character.content.SavesList.WisSave}}"
          ></th>
          <th
            id="cha-prof"
            class="col saving-throw
    {{character.content.SavesList.ChaSave}}"
          ></th>
        </tr>
        <tr>
          <th>Roll:</th>
          <th id="StrSave-die" class="col">
            <a
              data-toggle="modal"
              href="#diceRollModal"
              class="dice-roller saving-throw-dice str-mod {{character.content.SavesList.StrSave}}"
            >
              <i class="fas fa-dice-d20"></i
            ></a>
          </th>
          <th id="DexSave-die" class="col">
            <a
              data-toggle="modal"
              href="#diceRollModal"
              class="dice-roller saving-throw-dice dex-mod {{character.content.SavesList.DexSave}}"
            >
              <i class="fas fa-dice-d20"></i
            ></a>
          </th>
          <th id="ConSave-die" class="col">
            <a
              data-toggle="modal"
              href="#diceRollModal"
              class="dice-roller saving-throw-dice con-mod {{character.content.SavesList.ConSave}}"
            >
              <i class="fas fa-dice-d20"></i
            ></a>
          </th>
          <th id="IntSave-die" class="col">
            <a
              data-toggle="modal"
              href="#diceRollModal"
              class="dice-roller saving-throw-dice int-mod {{character.content.SavesList.IntSave}}"
            >
              <i class="fas fa-dice-d20"></i
            ></a>
          </th>
          <th id="WisSave-die" class="col">
            <a
              data-toggle="modal"
              href="#diceRollModal"
              class="dice-roller saving-throw-dice wis-mod {{character.content.SavesList.WisSave}}"
            >
              <i class="fas fa-dice-d20"></i
            ></a>
          </th>
          <th id="ChaSave-die" class="col">
            <a
              data-toggle="modal"
              href="#diceRollModal"
              class="dice-roller saving-throw-dice cha-mod {{character.content.SavesList.ChaSave}}"
            >
              <i class="fas fa-dice-d20"></i
            ></a>
          </th>
        </tr>
      </table>
    </div>
  </div>
</div>
<br />
<div class="d-flex justify-content-center">
  <h3>Skills:</h3>
</div>
<br />
<div class="container-fluid">
  <div class="row">
    <table class="table table-borderless table-striped">
      <thead>
        <tr>
          <th class="col">Skill:</th>
          <th class="col">Proficient</th>
          <th class="col">Roll:</th>
        </tr>
      </thead>
      <tr>
        <th class="col">Athletics:</th>
        <th
          class="col skill-list  {{character.content.SkillsObjList.Athletics}}"
        ></th>
        <th class="col">
          <a
            data-toggle="modal"
            href="#diceRollModal"
            class="dice-roller str-mod skill-list-dice {{character.content.SkillsObjList.Athletics}}"
          >
            <i class="fas fa-dice-d20"></i>
          </a>
        </th>
      </tr>
      <tr class="col">
        <th class="col">Acrobatics</th>
        <th
          class="col skill-list {{character.content.SkillsObjList.Acrobatics}}"
        ></th>
        <th class="col">
          <a
            data-toggle="modal"
            href="#diceRollModal"
            class="dice-roller dex-mod skill-list-dice {{character.content.SkillsObjList.Acrobatics}}"
          >
            <i class="fas fa-dice-d20"></i>
          </a>
        </th>
      </tr>
      <tr>
        <th class="col">Sleight of Hand</th>
        <th
          class="col skill-list-dice {{character.content.SkillsObjList.Sleight}}"
        ></th>

        <th class="col">
          <a
            data-toggle="modal"
            href="#diceRollModal"
            class="dice-roller skill-list-dice dex-mod {{character.content.SkillsObjList.Sleight}}"
          >
            <i class="fas fa-dice-d20"></i
          ></a>
        </th>
      </tr>
      <tr>
        <th class="col">Stealth</th>
        <th
          class="col skill-list  {{character.content.SkillsObjList.Stealth}}"
        ></th>
        <th class="col">
          <a
            data-toggle="modal"
            href="#diceRollModal"
            class="dice-roller skill-list-dice dex-mod {{character.content.SkillsObjList.Stealth}}"
          >
            <i class="fas fa-dice-d20"></i
          ></a>
        </th>
      </tr>
      <tr>
        <th class="col">Arcana</th>
        <th
          class="col skill-list {{character.content.SkillsObjList.Arcana}}"
        ></th>
        <th class="col">
          <a
            data-toggle="modal"
            href="#diceRollModal"
            class="dice-roller skill-list-dice int-mod {{character.content.SkillsObjList.Arcana}}"
          >
            <i class="fas fa-dice-d20"></i
          ></a>
        </th>
      </tr>
      <tr>
        <th class="col">History</th>
        <th
          class="col skill-list {{character.content.SkillsObjList.History}}"
        ></th>
        <th class="col">
          <a
            data-toggle="modal"
            href="#diceRollModal"
            class="dice-roller skill-list-dice int-mod {{character.content.SkillsObjList.History}}"
          >
            <i class="fas fa-dice-d20"></i
          ></a>
        </th>
      </tr>
      <tr>
        <th class="col">Investigation</th>
        <th
          class="col skill-list {{character.content.SkillsObjList.Investigation}}"
        ></th>
        <th class="col">
          <a
            data-toggle="modal"
            href="#diceRollModal"
            class="dice-roller skill-list-dice int-mod {{character.content.SkillsObjList.Investigation}}"
          >
            <i class="fas fa-dice-d20"></i
          ></a>
        </th>
      </tr>
      <tr>
        <th class="col">Nature</th>
        <th
          class="col skill-list skill-list-dice {{character.content.SkillsObjList.Nature}}"
        ></th>
        <th class="col">
          <a
            data-toggle="modal"
            href="#diceRollModal"
            class="dice-roller wis-mod skill-list-dice {{character.content.SkillsObjList.Nature}}"
          >
            <i class="fas fa-dice-d20"></i
          ></a>
        </th>
      </tr>
      <tr>
        <th class="col">Religion</th>
        <th
          class="col skill-list {{character.content.SkillsObjList.Religion}}"
        ></th>
        <th class="col">
          <a
            data-toggle="modal"
            href="#diceRollModal"
            class="dice-roller skill-list-dice wis-mod {{character.content.SkillsObjList.Religion}}"
          >
            <i class="fas fa-dice-d20"></i
          ></a>
        </th>
      </tr>
      <tr>
        <th class="col">Animal Handling</th>
        <th
          class="col skill-list {{character.content.SkillsObjList.AnimalHandling}}"
        ></th>
        <th class="col">
          <a
            data-toggle="modal"
            href="#diceRollModal"
            class="dice-roller skill-list-dice wis-mod {{character.content.SkillsObjList.AnimalHandling}}"
          >
            <i class="fas fa-dice-d20"></i
          ></a>
        </th>
      </tr>
      <tr>
        <th class="col">Insight</th>
        <th
          class="col skill-list {{character.content.SkillsObjList.Insight}}"
        ></th>
        <th class="col">
          <a
            data-toggle="modal"
            href="#diceRollModal"
            class="dice-roller skill-list-dice wis-mod {{character.content.SkillsObjList.Insight}}"
          >
            <i class="fas fa-dice-d20"></i
          ></a>
        </th>
      </tr>
      <tr>
        <th class="col">Medicine</th>
        <th
          class="col skill-list {{character.content.SkillsObjList.Medicine}}"
        ></th>
        <th class="col">
          <a
            data-toggle="modal"
            href="#diceRollModal"
            class="dice-roller skill-list-dice wis-mod {{character.content.SkillsObjList.Medicine}}"
          >
            <i class="fas fa-dice-d20"></i
          ></a>
        </th>
      </tr>
      <tr>
        <th class="col">Perception</th>
        <th
          class="col skill-list {{character.content.SkillsObjList.Perception}}"
        ></th>
        <th class="col">
          <a
            data-toggle="modal"
            href="#diceRollModal"
            class="dice-roller skill-list-dice wis-mod {{character.content.SkillsObjList.Perception}}"
          >
            <i class="fas fa-dice-d20"></i
          ></a>
        </th>
      </tr>
      <tr>
        <th class="col">Survival</th>
        <th
          class="col skill-list {{character.content.SkillsObjList.Survival}}"
        ></th>
        <th class="col">
          <a
            data-toggle="modal"
            href="#diceRollModal"
            class="dice-roller skill-list-dice wis-mod {{character.content.SkillsObjList.Survival}}"
          >
            <i class="fas fa-dice-d20"></i
          ></a>
        </th>
      </tr>
      <tr>
        <th class="col">Deception</th>
        <th
          class="col skill-list {{character.content.SkillsObjList.Deception}}"
        ></th>
        <th class="col">
          <a
            data-toggle="modal"
            href="#diceRollModal"
            class="dice-roller skill-list-dice cha-mod {{character.content.SkillsObjList.Deception}}"
          >
            <i class="fas fa-dice-d20"></i
          ></a>
        </th>
      </tr>
      <tr>
        <th class="col">Intimidation</th>
        <th
          class="col skill-list {{character.content.SkillsObjList.Intimidation}}"
        ></th>
        <th class="col">
          <a
            data-toggle="modal"
            href="#diceRollModal"
            class="dice-roller skill-list-dice cha-mod {{character.content.SkillsObjList.Intimidation}}"
          >
            <i class="fas fa-dice-d20"></i
          ></a>
        </th>
      </tr>
      <tr>
        <th class="col">Performance</th>
        <th
          class="col skill-list {{character.content.SkillsObjList.Performance}}"
        ></th>
        <th class="col">
          <a
            data-toggle="modal"
            href="#diceRollModal"
            class="dice-roller skill-list-dice cha-mod {{character.content.SkillsObjList.Performance}}"
          >
            <i class="fas fa-dice-d20"></i
          ></a>
        </th>
      </tr>
      <tr>
        <th class="col">Persuasion</th>
        <th
          class="col skill-list {{character.content.SkillsObjList.Persuasion}}"
        ></th>
        <th class="col">
          <a
            data-toggle="modal"
            href="#diceRollModal"
            class="dice-roller skill-list-dice cha-mod {{character.content.SkillsObjList.Persuasion}}"
          >
            <i class="fas fa-dice-d20"></i
          ></a>
        </th>
      </tr>
    </table>
  </div>
</div>
<!-- Modal for displaying dice-rolls -->
<div
  class="modal fade"
  id="diceRollModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="dieModalTitle">Dice roll:</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="diceOutPut">...</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Script for providing interactive functions and to calculate derived values. -->
<script src="{{url_for('static', filename='js/charProfile.js' )}}"></script>

{% endblock %}
