{% extends 'base.html'%} 
{% block content %}
<!-- Displays flash messages, if needed. -->
{% with messages=get_flashed_messages() %} 
 <!-- If true, displays flash messages in this div -->
  {% if messages%} 
   {% for message in messages %}
    {{message}} 
   {% endfor%}
  {% endif %} 
{%endwith%}
<!-- Jumbotron display -->
<div class="jumbotron jumbotron-fluid jumbotron-bg">
  <div class="container-fluid">
    <h1 class="display-3">B&B: The online home of your character-sheets!</h1>
    <p class="lead">
      A place for you to store your D&D 5E character-sheets securely, with
      included dice-roller and tool-tips!
    </p>
    <p class="lead">
      <br />
      <br />
      {% if current_user.is_authenticated %}
      <a
        class="btn btn-danger btn-lg"
        href="{{url_for('profile')}}"
        role="button"
        >Go to your profile!</a
      >
      {% else %}
      <a
        class="btn btn-danger btn-lg"
        href="{{url_for('register')}}"
        role="button"
        >Register now!</a
      >
      {% endif%}
    </p>
  </div>
</div>
<!-- Bootstrap grid display -->
<div class="container-fluid">
  <div class="row">
    <h4 class="mx-auto">
      Bugbears & Bailiffs - We keep your character-sheets under lock and key!
    </h4>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-6 text-center">
      <h5>So easy a bugbear could do it!</h5>
      <br /><img
        src="{{url_for('static', filename='/img/bugbear_token.png')}}"
        alt="An image of a bugbear"
        class="img-fluid"
      /><br />
      <p>
        With our simple interface, you can create and store your
        character-sheets in a simple, accessible format. No need to mess around
        with paper sheets that go missing, store your character here and you'll
        have your sheet with you whereever you have your phone!
      </p>
    </div>
    <div class="col-md-12 col-lg-6 text-center">
      <h5>Will this cost me my hoard?</h5>
      <br /><img
        src="{{url_for('static', filename='/img/brassdragon_token.png')}}"
        alt="An image of a brass dragon"
        class="img-fluid"
      /><br />
      <p>
        There's no fee to use the service, you just need to register on the site
        and agree to some basic rules of conduct! The sheet is unopinionated on
        home-brew rules, classes, races and so forth, it provides you just
        what's needed, when you need it!
      </p>
    </div>
  </div>
</div>

{% endblock %}
