{% extends 'base.html'%} {% block content %} {% with messages =
get_flashed_messages() %} {% if messages%} {% for message in messages %}
{{message}} {% endfor%} {% endif %} {%endwith%}
<div class="d-flex justify-content-center">
  <h3>Enter your email and password to login:</h3><br>
</div>
<br>
<br>
<div class="container">
<div class="row justify-content-center">
    <form method="POST" action="{{ url_for('login')}}" class="form">      
      <br />
      <div class="d-flex justify-content-center">
      <div class="form-group">        
        {{form.email.label}}<br>
        {{form.email}}<br>
      
      <div class="form-group">
        {{form.password.label}}<br>
        {{form.password}}
        <div class="form-group"><br>
          <br>
          <br>
        {{form.submit(class_="btn btn-danger")}}<br>
      </div>
    </div>
  </div>
    </form>
      </div>
    </div>
  <div class="container">
  <div class="row justify-content-center">  
    <br>
    <br>
    <div class="col">
  <p class="text-center">    
    New here? Click <a href="{{url_for('register')}}">here</a>
  </p>
</div>
  <br />
  <div class="col">
  <p class="text-center">
    Lost your password? Click <a href="{{url_for('lost_password')}}">here</a>
  </p>
</div>
</div>
  {% endblock %}