{% extends 'base.html'%} 
{% block content %} 
<!-- Display for flash-messages -->
{% with messages = get_flashed_messages() %} 
    {% if messages%} 
    {% for message in messages %} 
      {{message}} 
    {% endfor%} 
  {% endif %} 
{%endwith%}
<div class="flex-row">
  <div class="d-flex justify-content-center">
    <h3 class="text-center">Lost your password? We can help!</h3>
  </div>
</div>
<br />
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="form-group">
      <div class="col">
        <form method="POST" action="{{ url_for('lost_password')}}" class="form">
          <p class="text-center">
            Enter the email you registered with in the field below. We will send
            an authetication email to you with instructions on how to recover
            your password.
          </p>
          <br />
          {{ form.hidden_tag() }}<br />
          <div class="form-group">
            <div class="col">
              {{form.email.label}} {{form.email(class_="form-control")}}
              <br />
            </div>
            <br />
            {{form.submit(class_="btn btn-danger form-control")}}<br />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <p class="text-center">
        New here? Click <a href="{{url_for('register')}}">here</a>
      </p>
    </div>
  </div>
</div>

{% endblock %}
