{% extends 'base.html'%} {% block content %} {% with messages =
get_flashed_messages() %} {% if messages%} {% for message in messages %}
{{message}} {% endfor%} {% endif %} {%endwith%}
<div class="container-fluid">
<div class="row justify-content-center">
  <form method="POST" action="{{ url_for('lost_password')}}">
    <h3>Lost your password? We can help!</h3>
    <br />
    <p>
      Enter the email you registered with in the field below. We will send an
      authetication email to you with instructions on how to recover your
      password.
    </p>
    <br />
    
      {{ form.hidden_tag() }}
      <p>Enter your email below:</p>
      {{form.email}} 
      {{form.submit(class_="btn btn-primary")}}
    </form>    
  </div>
</div>
<div class="container-fluid">
  <div class="row justify-content-center">
   <div class="col-12"> 
  <p>
    New here? Click <a href="{{url_for('register')}}">here</a>
  </p>
</div>
  </div>
</div>

{% endblock %}
