{% extends 'base.html'%} {% block content %} {% with messages =
get_flashed_messages() %} {% if messages%} {% for message in messages %}
{{message}} {% endfor%} {% endif %} {%endwith%}

<div class="row">
  <form method="POST" action="{{ url_for('lost_password')}}">
      <div class="center-align">
    <h3>Lost your password? We can help!</h3>
    <br />
    <p>
      Enter the email you registered with in the field below. We will send an
      authetication email to you with instructions on how to recover your
      password.
    </p>
    <br />
    
      {{ form.hidden_tag() }}
      <p>Enter your email below:</p>
      {{form.email}} {{form.submit}}
    </form>
</div>

<p class="center-align">
  New here? Click <a href="{{url_for('register')}}">here</a>
</p>
{% endblock %}
