{% extends 'base.html'%} {% block content %} {% with messages =
get_flashed_messages() %} {% if messages%} {% for message in messages %}
{{message}} {% endfor%} {% endif %} {%endwith%}

<div class="row" id="task-bar">
  <div class="col">
    <a href="{{url_for('addchar')}}">Create new character: </a>
    <br />
    <br />
  </div>
  <div class="col">
    <p>Currently registered characters:</p>
    <br />
    <br />
    {% for Char in Chars%} {{Char.content.Name}}<br> {%endfor%}
  </div>
  </div>
  <br>
  <div class="row">
  </div class="align-content-lg-center">
  
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deletion-modal">
    Click here to delete your account
  </button> 
 <div></div>


 <div class="modal fade" id="deletion-modal" tabindex="-1" aria-labelledby="deleteLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm account deletion?
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you wish to delete your account? All your saved characters will be deleted, as will your account. If you still want to close your account, enter your email and password below: <br>
        </p>
        {{ form.hidden_tag() }}
        <p>Email:</p><br>
        {{form.email}}
        <p>Password:</p><br>
        {{form.password}}<br>
        {{form.submit}}
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button class="btn btn-danger btn-lg" action="{url_for('profile')">
          Confirm account-deletion </button>
        
      </div>
    </form>
    </div>
  </div>
</div>
  
{%endblock %}