{% extends 'base.html'%} {% block content %} {% with messages =
get_flashed_messages() %} {% if messages%} {% for message in messages %}
{{message}} {% endfor%} {% endif %} {%endwith%}

<div class="row">
  <h3>Register with your email and password:</h3>
  <br />
  <form method="POST" action="{{ url_for('register')}}">
    {{ form.hidden_tag() }}
    <p>Email:</p>
    {{form.email}}
    <p>Password:</p>
    {{form.password}} {{form.submit}}
  </form>
</div>

<p class="center-align">
  Already a member? Click <a href="{{url_for('login')}}">here</a>
</p>
<br />
<p class="center-align">
  Lost your password? Click <a href="{{url_for('lost_password')}}">here</a>
</p>
{% endblock %}
