{% extends 'base.html'%} 
<!-- Displays flash messages, if needed. -->
{% with messages=get_flashed_messages() %} 
 <!-- If true, displays flash messages in this div -->
  {% if messages%} 
   {% for message in messages %}
    {{message}} 
   {% endfor%}
  {% endif %} 
{%endwith%}
<!-- Area for flashing form errors to the user, if validation fails on submit. -->
{% if form.errors %}
<div class="alert alert-error">
  <ul class="errors">
    {% for error_field, errors in form.errors.item %}
    <li>{{ form[error_field].label }}: {{ errors|join(', ') }}</li>
    {% endfor %} {% endif %}
    <div class="flex-row">
      <div class="d-flex justify-content-center">
        <h3 class="text-center">Register with your email and password:</h3>
      </div>
    </div>
    <br />
    <form class="form" method="POST" action="{{ url_for('register')}}">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="form-group">
            <div class="col">
              {{form.display_name.label}}
              {{form.display_name(class_="form-control")}}<br />
              {{form.email.label}} {{form.email(class_="form-control")}}<br />
              {{form.password.label}}
              {{form.password(class_="form-control")}}<br />
              {{ form.hidden_tag() }} {{form.submit(class_="btn btn-danger")}}
            </div>
          </div>
        </div>
      </div>
    </form>
    <br />
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="text-center">
            Already a member? Click <a href="{{url_for('login')}}">here</a>
          </p>
        </div>
      </div>
      <div class="col">
        <p class="text-center">
          Lost your password? Click
          <a href="{{url_for('lost_password')}}">here</a>
        </p>
      </div>
    </div>

    {% endblock %}
  </ul>
</div>
